{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>date of birth:</strong> {{ author.date_of_birth }}</></p>
  <p><strong>date of death:</strong> {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for book in author.book_set.all %}
    <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
        <p>{{ book.summary }}</p>
    </li>
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'books' %}">All books</a></li>
    <li><a href="{% url 'authors' %}">All authors</a></li>
  </ul>

  {% if user.is_authenticated %}
    <ul class="sidebar-nav">
      <li>User: {{ user.get_username }}</li>
      <li><a href="{% url 'my-borrowed' %}">My borrowed</a></li>
      <li>
        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-link" style="padding:0; margin:0;">Logout</button>
        </form>
      </li>
    </ul>

    {% if user.is_staff %}
      <hr>
      <ul class="sidebar-nav">
        <li>Staff</li>
        <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>

        {% if perms.catalog.add_author %}
          <li><a href="{% url 'author-create' %}">Create author</a></li>
        {% endif %}

        {% if perms.catalog.change_author or perms.catalog.delete_author %}
          {% if perms.catalog.change_author %}
            <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
          {% endif %}
          {% if not author.book_set.all and perms.catalog.delete_author %}
            <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
          {% endif %}
        {% endif %}

      </ul>
    {% endif %}

  {% else %}
    <ul class="sidebar-nav">
      <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    </ul>
  {% endif %}
{% endblock %}