{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}

  <ul class="sidebar-nav">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'books' %}">All books</a></li>
    <li><a href="{% url 'authors' %}">All authors</a></li>
  </ul>

  {% if user.is_authenticated %}
    <ul class="sidebar-nav">
      <li>User: {{ user.get_username }}</li>
      <li><a href="{% url 'my-borrowed' %}">My borrowed</a></li>
      <li>
        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-link" style="margin: 0; padding: 0;">Logout</button>
        </form>
      </li>
    </ul>

    {% if user.is_staff %}
      <hr>
      <ul class="sidebar-nav">
        <li>Staff</li>
        <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>

        {% if perms.catalog.add_book %}
          <li><a href="{% url 'book-create' %}">Create book</a></li>
        {% endif %}
      </ul>
    {% endif %}

    {% if perms.catalog.change_book or perms.catalog.delete_book %}
      <hr>
      <ul class="sidebar-nav">
        {% if perms.catalog.change_book %}
          <li><a href="{% url 'book-update' book.id %}">Update book</a></li>
        {% endif %}
        {% if perms.catalog.delete_book %}
          <li><a href="{% url 'book-delete' book.id %}">Delete book</a></li>
        {% endif %}
      </ul>
    {% endif %}

  {% else %}
    <ul class="sidebar-nav">
      <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    </ul>
  {% endif %}
{% endblock %}